body{
    background-color: black;
    color: white;
}
button{
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    color: white;
}
button.ativo{
    color: black;
    background-color: white;
}